* {
    box-sizing : border-box;
}

body {
    font-family : sans-serif;
    margin      : 0 auto;
    font-size: responsive 14px 18px;
}

h1 {
    font-size: responsive 36px 64px; /* min-size, max-size */
    font-range: 320px 1200px;
}

h2 {
    font-size: responsive 28px 48px; /* min-size, max-size */
    font-range: 320px 1200px;
}

h3 {
    font-size: responsive 24px 36px; /* min-size, max-size */
    font-range: 320px 1200px;
}

h4 {
    font-size: responsive 18px 28px; /* min-size, max-size */
    font-range: 320px 1200px;
}
